
<div class="container">
 <!-- Topo do site -->
  <div class="row ">
    <!-- px-0 retira todos os paddings  -->
    <div class="col px-0 mt-sm-5 "> 
      <app-topo></app-topo>
    </div>
  </div>
</div>
  

  <div class="container ">
  <!-- linha que contém rodada e a forca, my coloca margin top e bottom 2 -->
  <div class="row my-2  ">
    <!-- rodada -->
    <div class="col-sm-8  px-0 bg-success text-dark ">
       <app-rodada></app-rodada>   
    </div>

    <div class="col-sm-4 bg-success ">
       <app-forca></app-forca>       
    </div>   

  </div> 
</div> 

